agm-map {
	height: 300px;
}
.fa {
	min-width: 30px;
}

body, html {
	height: 100%;
	background: #fff;
}

.pulse-button-container {
	width: 200px;
	height: 200px;
	margin: 0 auto 0;
	-webkit-perspective: 1000;
	perspective: 1000;
	backface-visibility: hidden;
	background: #fff;
	padding: 50px;
}

.pulse-button {
	position: relative;
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-image: url('../../../assets/check-1.png');
	background-size: contain;
	cursor: pointer;
	box-shadow: 0 0 0 0 rgba(90, 153, 8, 0.5);
	animation: pulse 1.5s infinite;
}
.pulse-button:hover {
	background-image: url('../../../assets/check-2.png');
	animation: none;
}
.pulse-button.checked {
	background-image: url('../../../assets/check-2.png');
	animation: none;
}
.progress-bar {
	background-color: #7386D5;
	color: #ff3322;
}
.image {
	width: 100%;
}

@keyframes pulse {
	0% {
		transform: scale(0.9);
	}
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 50px rgba(90, 153, 8, 0);
	}
	100% {
		transform: scale(0.9);
		box-shadow: 0 0 0 0 rgba(90, 153, 8, 0);
	}
}