<div class="col-md-12">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h2 class="name">{{stadium?.name}}</h2>
				<img class="image" src="{{stadium?.image}}" alt="{{stadium?.name}}">
				<div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>{{ addressValue }}</div>
			</div>
			<div class="col-md-4">
				<agm-map [latitude]="stadium?.lat" [longitude]="stadium?.long" [scrollwheel]="false" [zoom]="zoom">
					<agm-marker [latitude]="stadium?.lat" [longitude]="stadium?.long"></agm-marker>
				</agm-map>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="pulse-button-container">
					<span [ngClass]="{'pulse-button': true, 'checked': status.status }" (click)="checkedStadium($event)"></span>
				</div>
			</div>
		</div>
	</div>

	<div class="container mt-3">
		<div class="row">
			<div class="col-md-8">
				<div class="progress">
					<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [style.width]="percent + '%'" [attr.aria-valuenow]="percent" aria-valuemin="0" aria-valuemax="100">{{percent}}%</div>
				</div>
			</div>
		</div>
	</div>
</div>