<div class="main text-center">
	<form class="form-signin" (submit)="login()">
		<h1 class="logo mb-3 font-weight-normal"><i class="fa fa-check-circle" aria-hidden="true"></i></h1>
		<h1 class="h3 mb-3 font-weight-normal">Please Sign In</h1>
		<label for="inputEmail" class="sr-only">Email</label>
		<input type="email" id="inputEmail" class="form-control" name="email" placeholder="Email" [(ngModel)]="credentials.email" required autofocus>
		<label for="inputPassword" class="sr-only">Password</label>
		<input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" [(ngModel)]="credentials.password">
		<button class="mb-3 btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
		<p class="lead">Don't have an account? <a routerLink="/register">Sign Up</a></p>
	</form>
</div>