<!-- Sidebar  -->
<nav id="sidebar" [ngClass]="status ? 'inactive': 'active'">
	<div class="sidebar-header responsive-item">
		<h3>Check In System</h3>
		<strong>CI</strong>
	</div>

	<ul class="list-unstyled profile">
		<li class="responsive-item">
			<h3>{{ user.name }}</h3>
			<strong>{{ user.name.charAt(0)}}</strong>
		</li>
		<li>
			<a routerLink="/home/profile">
				<i class="fa fa-user" aria-hidden="true"></i>
				Profile
			</a>
		</li>
		<li>
			<a (click)="auth.logout()">
				<i class="fa fa-sign-out" aria-hidden="true"></i>
				Sign Out
			</a>
		</li>
	</ul>

	<ul class="list-unstyled menu">
		<li class="active">
			<a routerLink="/home">
				<i class="fa fa-home"></i>
				Home
			</a>
		</li>
		<li>
			<a routerLink="/home/board/">
				<i class="fa fa-list-alt" aria-hidden="true"></i>
				Nearest Stadium
			</a>
		</li>
		<li>
			<a routerLink="/home/about">
				<i class="fa fa-building" aria-hidden="true"></i>
				About
			</a>
		</li>
	</ul>
</nav>