#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    height: 100%;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    display: inline-block;
}

#sidebar .responsive-item {
    padding: 20px;
    background: #6d7fcc;
    border-bottom: 1px solid #47748b;
}

#sidebar ul {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

/* Shrinking the sidebar from 250px to 80px and center aligining its content*/
#sidebar.inactive {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

/* Toggling the sidebar header content, hide the big heading [h3] and showing the small heading [strong] and vice versa*/
#sidebar .responsive-item strong {
    display: none;
}
#sidebar.inactive .responsive-item h3 {
    display: none;
}
#sidebar.inactive .responsive-item strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.inactive ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.inactive ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

/* Same dropdown links padding*/
#sidebar.inactive ul ul a {
    padding: 10px !important;
}

/* Changing the arrow position to bottom center position, 
   translateX(50%) works with right: 50% 
   to accurately  center the arrow */
#sidebar.inactive .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}


@media (max-width: 768px) {
    /* 80px and its content aligned to centre. Pushing it off the screen with the
       negative left margin
    */
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }


    /* Reappearing the sidebar on toggle button click */
    #sidebar {
        margin-left: 0; 
    }

    #sidebar.inactive {
        margin-left: 0 !important;
    }


    /* Toggling the sidebar header content, 
       hide the big heading [h3] and showing the small heading [strong] and vice versa
    */
    #sidebar .responsive-item strong {
        display: none;
    }
    #sidebar.inactive .responsive-item h3 {
        display: none;
    }
    #sidebar.inactive .responsive-item strong {
        display: block;
    }

    /* Downsize the navigation links font size */
    #sidebar.inactive ul li a {
        padding: 20px 10px;
        font-size: 0.85em;
    }

    #sidebar.inactive ul li a i {
        margin-right:  0;
        display: block;
        font-size: 1.8em;
        margin-bottom: 5px;
    }

    /* Adjust the dropdown links padding*/
    #sidebar.inactive ul ul a {
        padding: 10px !important;
    }

    /* Changing the arrow position to bottom center position, 
      translateX(50%) works with right: 50% 
      to accurately  center the arrow */
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
}