<div class=col-md-12>

	<form id="form-list-stadiums">
		<legend>List of Stadiums</legend>

		<div class="pull-right">
			<a (click)="ngOnInit()" class="btn btn-default-btn-xs btn-primary"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh</a>
			<a routerLink="/home/stadium" class="btn btn-default-btn-xs btn-success"><i class="fa fa-plus" aria-hidden="true"></i> New</a>
		</div>
		<table class="table table-bordered table-condensed table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Thumbnail</th>
					<th>Location</th>
					<th>Actions</th>
				</tr>

			</thead>
			<tbody *ngIf="stadiums.length <= 0">
				<tr>
					<td colspan="4">No Stadiums Yet</td>
				</tr>
			</tbody>
			<tbody *ngIf="stadiums.length > 0">
				<tr *ngFor="let stadium of stadiums" (click)="navigateUrl('/home/board/' + stadium._id)">
					<td><h3>{{ stadium.name }}</h3></td>
					<td class="image"><img [src]="stadium.image"></td>
					<td>{{ "{" + stadium.lat + ", " + stadium.long + "}" }}</td>
					<td>
						<a [routerLink]="['/home/board/' + stadium._id]" title="view this user" class="btn btn-default btn-sm "> <i class="fa fa-eye text-primary" aria-hidden="true"></i> </a>
						<a [routerLink]="['/home/stadium/' + stadium._id]" title="edit this user" class="btn btn-default btn-sm "> <i class="fa fa-pencil text-primary" aria-hidden="true"></i> </a>
						<a (click)="showDeleteConfirmationModal(stadium); $event.stopPropagation();" title="delete this user" class="btn btn-default btn-sm "> <i class="fa fa-trash-o text-danger" aria-hidden="true"></i> </a>
					</td>
				</tr>
			</tbody>
		</table>
	</form>


</div>