#form-list-stadiums table tbody td.image {
	width: 100px;
	height: 75px;
}
#form-list-stadiums table tbody td.image img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.btn-primary {
	margin-right: 10px;
}
.pull-right {
	margin-bottom: 10px;
}