<div class="modal-header">
    <div class="col-2 text-left"></div>
    <div class="col-8 text-center">
        <h4 class="modal-title">Delete this Stadium?</h4>
    </div>
    <div class="col-2 text-right"></div>
</div>
<div class="header-body-spacer"></div>
<div class="modal-body">
    <div>Are you sure you want to delete <em><strong>{{stadium.name}}</strong></em>?</div>
</div>

<div class="modal-footer">
    <button type="button" class="btn-default btn-info btn-size-xs" (click)="cancel()">Cancel</button>
    <button type="button" class="btn-default btn-warning btn-size-xs" (click)="delete()">Delete</button>
</div>