.custom-file {
	display: block;
}
.message-for-image {
	display: block;
	color: red;
}
.preview-image img {
	width: 100%;
	height: auto;
	max-height: 200px;
	object-fit: contain;
}
agm-map {
	height: 300px;
}
#stadium-location {
	margin-bottom: 10px;
}