<div class="col-md-12">
	<form class="form-horizontal" (submit)="onSubmit()">
		<fieldset>
			<legend>Stadium</legend>

			<div class="form-group">
				<label class="col-md-4 control-label" for="stadium-name">Name</label>  
				<div class="col-md-4">
					<input id="stadium-name" name="stadium-name" type="text" placeholder="Stadium Name" [(ngModel)]="stadium.name" class="form-control input-md">
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-4 control-label">Image</label>
				<div class="col-md-4">
					<div class="custom-file">
						<input #file id="stadium-image" name="stadiumImage" type="file" accept="image/*" class="form-control custom-file-input" (change)="preview(file.files)">
						<label class="custom-file-label" for="stadium-image">Choose file</label>
					</div>
					<span class="message-for-image" *ngIf="message">{{message}}</span>
					<div class="preview-image">
						<img [src]="stadium?.image" *ngIf="stadium.image">
					</div>
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-4 control-label" for="stadium-location">Location</label>  
				<div class="col-md-4">
					<input id="stadium-location" placeholder="Search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search>

					<agm-map [latitude]="stadium?.lat" [longitude]="stadium?.long" [scrollwheel]="false" [zoom]="zoom">
						<agm-marker [latitude]="stadium?.lat" [longitude]="stadium?.long"></agm-marker>
					</agm-map>
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-4 control-label" for="btn-save"></label>
				<div class="col-md-4">
					<button type="submit" id="btn-save" name="btn-save" class="btn btn-success">Save</button>
				</div>
			</div>
		</fieldset>
	</form>
</div> 