<div class="wrapper">
	<app-sidebar [status]="status"></app-sidebar>
	<div id="content">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<button type="button" id="sidebarCollapse" (click)="toggleSidebar()" class="btn btn-info">
					<i class="fa fa-align-left"></i>
				</button>

				<h1> Check In System - {{title}} </h1>
			</div>
		</nav>

		<router-outlet></router-outlet>
	</div>
</div>