<div class="main text-center">
	<form class="form-signin" (submit)="register()">
		<h1 class="logo mb-3 font-weight-normal"><i class="fa fa-registered" aria-hidden="true"></i></h1>
		<h1 class="h3 mb-3 font-weight-normal">Please Sign Up</h1>
		<label for="inputName" class="sr-only">Full Name</label>
		<input type="text" id="inputName" class="form-control" name="name" placeholder="Full Name" [(ngModel)]="credentials.name" required autofocus>
		<label for="inputEmail" class="sr-only">Email</label>
		<input type="email" id="inputEmail" class="form-control" name="email" placeholder="Email" [(ngModel)]="credentials.email" required>
		<label for="inputPassword" class="sr-only">Password</label>
		<input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" [(ngModel)]="credentials.password">
		<button class="mb-3 btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
		<p class="lead">Already have an account? <a routerLink="/login">Sign In</a></p>
	</form>
</div>