.icon {
	min-width: 40px;
}
.item {
	margin-bottom: 0;
}
.fa-map-marker {
	margin-right: 10px;
}
.pos {
	font-size: 12px;
	display: inline-block;
}
agm-map {
	width: 100%;
	height: 300px;
}

small {
	display: block;
	line-height: 1.428571429;
	color: #999;
}