<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="well well-sm">
				<div class="row">
					<div class="col-sm-6 col-md-4">
						<agm-map [latitude]="coordinates?.lat" [longitude]="coordinates?.long" [scrollwheel]="false" [zoom]="zoom">
							<agm-marker [latitude]="coordinates?.lat" [longitude]="coordinates?.long"></agm-marker>
						</agm-map>
					</div>
					<div class="col-sm-6 col-md-8">
						<h4>{{ user?.name }}</h4>
						<small>
							<cite title="{{ currentLocation }}">
								<i class="fa fa-map-marker" aria-hidden="true"></i>{{ currentLocation }}
							</cite>
						</small>
						<p class="item"><i class="icon pos">LAT :</i>{{ coordinates?.lat }}</p>
						<p class="item"><i class="icon pos">LONG:</i>{{ coordinates?.long }}</p>
						<p class="item"><i class="icon fa fa-envelope-o" aria-hidden="true"></i>{{ user?.email }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>